@tailwind base;

@layer base {
	:root {
		--standard-background: 255 255 255;
		--standard-background-hover: 220 244 255;
		--selected-sidebar-button-background: 220 244 255;
		--lilypad-blue-background: 61 176 246;
		--selected-sidebar-button-border: 132 216 255;
		--question-text: 60 60 60;
		--pip-theme-text: 0 61 165;
		--landing-outer-border: 244 244 246;
		--landing-dotted-line: 238 238 242;

		--charging-green: 35 200 100;
		--career-quest-yellow: 253 217 11;
		/* https://design.duolingo.com/identity/color */
		/* Duolingo colors */
		--macaw: 28 176 246;
		--cardinal: 255 75 75;
		--bee: 255 200 0;
		--fox: 255 150 0;
		--beetle: 206 130 255;
		--humpback: 43 112 201;
		--beakInner: 182 110 40;

		/* Neutrals */
		--eel: 75 75 75;
		--wolf: 119 119 119;
		--hare: 175 175 175;
		--swan: 229 229 229;
		--polar: 247 247 247;
	}

	.dark {
		--standard-background: 20 31 35;
		--standard-background-hover: 32 47 54;
		--selected-sidebar-button-background: 32 47 54;
		--selected-sidebar-button-border: 63 132 167;
		--question-text: 241 247 251;
		--pip-theme-text: 28 176 255;
		--landing-outer-border: 35 45 50;
		--landing-dotted-line: 40 50 55;

		--charging-green: 35 200 100;
		--career-quest-yellow: 253 217 11;

		/* https://design.duolingo.com/identity/color */
		/* Duolingo colors */
		--macaw: 72 191 248;
		--cardinal: 255 75 75;
		--bee: 255 200 0;
		--fox: 255 150 0;
		--beetle: 206 130 255;
		--humpback: 43 112 201;
		--beakInner: 182 110 40;
	
		/* Neutrals */
		--eel: 241 247 251;
		--wolf: 220 230 235;
		--hare: 82 100 109;
		--swan: 55 70 79;
		--polar: 32 47 54;
	}
}
