@tailwind base;

@layer base {
	:root {
		--standard-background: 255 255 255;
		--disabled-lilypad-icon: 175 175 175;
		--standard-background-hover: 220 244 255;
		--selected-sidebar-button-background: 220 244 255;
		--lilypad-blue-background: 61 176 246;
		--selected-sidebar-button-border: 132 216 255;
		--sidebar-button-hover: 247 247 247;
		--question-text: 60 60 60;
		--light-landing-page-text: 119 119 119;
		--pip-theme-text: 0 61 165;
		--selected-sidebar-text: 28 175 246;

		/* Duolingo colors */
		--eel: 75 75 75;
		--swan: 229 229 229;
	}

	.dark {
		--standard-background: 20 31 35;
		--disabled-lilypad-icon: 82 100 109;
		--standard-background-hover: 32 47 54;
		--selected-sidebar-button-background: 32 47 54;
		--selected-sidebar-button-border: 63 132 167;
		--sidebar-button-hover: 32 47 54;
		--question-text: 241 247 251;
		--light-landing-page-text: 220 230 235;
		--pip-theme-text: 28 176 255;
		--selected-sidebar-text: 72 191 248;
		
		/* Duolingo colors */
		--eel: 241 247 251;
		--swan: 55 70 79;
	}
}
